.name {
    text-align: right;
}

.heading {
    padding-top: 1em;
    padding-right: 1em;
}

#udacity {
    padding-top: 1rem;
}

hr {
    background-color: #7d97ad;
    border: 0 none;
    color: #7d97ad;
    height: 0.5em;
}

img {
    width: 100%;
}

.quote {
    padding-bottom: 1em;
}

.project {
    height: 12em;
}

.card-width {
    width: 15rem;
}

.logo {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    padding-left: 1em;
    padding-right: 1em;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
}

/*
* Responsive
*/

@media screen and (min-width: 550px) and (max-width: 800px) {

    #udacity {
        width: 50%;
    }

    .name {
        width: 50%;
    }
}

/*
* G Suite
*/

.gg .maia-button {
    background-color: #4173c9;
    background-image: -moz-linear-gradient(top,#5e8ee4,#4173c9);
    background-image: -webkit-linear-gradient(top,#5e8ee4,#4173c9);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5e8ee4),color-stop(1,#4173c9));
    background-image: linear-gradient(top,#5e8ee4,#4173c9);
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    padding: 7px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.08);
    text-decoration: none
}
.gg>div{
    text-align: center;
    width: 100%
}
